<% link_to_post ||= false %>

<div class='row'>
  <div class='span0 well text-center'>
    <% if current_user %>
      <%= link_to vote_post_comment_path(comment.post, comment, vote: true), method: 'post' do %>
        <i class='icon-arrow-up'></i>
      <% end %>
      <br />
    <% end %>
    <%= comment.total_votes %> votes
    <% if current_user %>
      <br />
      <%= link_to vote_post_comment_path(comment.post, comment, vote: false), method: 'post' do %>
        <i class='icon-arrow-down'></i>
      <% end %>
    <% end %>
  </div>
  <div class='span8 well'>
    <em><%= comment.body %></em>
    on <%= link_to(comment.post.title, post_path(comment.post)) if link_to_post %>
    <br/>
    <small>created by <%= link_to(comment.creator.username, user_path(comment.creator)) %>, at <%= display_datetime(comment.created_at) %></small>
  </div>
</div>
