<p>
  <%= link_to 'Back to post overview', posts_path %>
</p>
<p>
  <%= render @post.categories %>
</p>

<%= render 'shared/content_title', title: @post.title %>

<p>
  <%= @post.description %>
</p>
<p><%= link_to 'edit', edit_post_path(@post)%></p>
</hr>

